<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IXmlService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:11026/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IXmlService" contract="SR1.IXmlService" name="BasicHttpBinding_IXmlService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
