<?xml version="1.0"?>
<configuration>


  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="Error.svclog" />
    </sharedListeners>
  </system.diagnostics>-->



  <appSettings>
    <add key="LogPath" value="LogFile\\Log.txt"/>
    <add key="IpPath" value="IpConfigFile\\IpConfigFile.txt"/>
    <add key="IntervalPath" value="TimeInterval\\TimeInterval.txt"/>
    <add key="clearLogDate" value="13000"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
        Раздел <authentication> включает конфигурацию 
        режима проверки подлинности системы безопасности, используемую 
        в ASP.NET, которая позволяет идентифицировать входящего пользователя. 
    -->

    <authentication mode="Windows"/>
    <!--
        Раздел <customErrors> включает конфигурацию, 
        отвечающую за действия, предпринимаемые при возникновении необрабатываемых ошибок 
        во время выполнения запроса. В частности, 
        он позволяет разработчикам настраивать HTML-страницы ошибок, 
        которые будут отображаться вместо трассировки стека ошибок.
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
      Раздел system.webServer требуется для запуска ASP.NET AJAX из Интернета
      служб IIS 7.0.  Этот раздел необязателен для предыдущей версии IIS.
  -->
  <system.webServer>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  
  <!--///////////--><!--
<diagnostics>
    <messageLogging maxMessagesToLog="30000" logEntireMessage="true" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"> </messageLogging>
  </diagnostics>
  --><!--///////////-->



  <!--<system.diagnostics>

    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="LogFile\\Log2.txt" />
        </listeners>
      </source>
    </sources>

  </system.diagnostics>-->


  
  
  
 <!--/// ВКЛЮЧИТЬ ТРАССИРОВКУ-->

  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="log"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "LogFile\\LogTrace.txt" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->



  
  


  <system.serviceModel>
            <!-- this enables WCF services to access ASP.Net http context -->


    
    
    
    
    <services>
      <service behaviorConfiguration="WcfDataService.Service1Behavior"
        name="WcfDataService.XmlService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfDataService.IXmlService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://www.odu.energo.net/db_to_web/Asp_Web/WcfDataService/Service1.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
      <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfDataService.Service1Behavior">
          <serviceThrottling maxConcurrentCalls="100"
                             maxConcurrentSessions="100"
                             maxConcurrentInstances="100" />
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующему параметру значение "false". -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true, чтобы избежать раскрытия сведений об исключении -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>







    <diagnostics>




     

     
      
      
      
    <messageLogging
       logEntireMessage="true"
       logMalformedMessages="true"
       logMessagesAtServiceLevel="true"
       logMessagesAtTransportLevel="true"
       maxMessagesToLog="30000"
       maxSizeOfMessageToLog="65535"/>
    </diagnostics>

    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>-->
  </system.serviceModel>

  
  
  
  
  <!--<system.diagnostics>
    <sources>
       --><!--В этом разделе включается запись в журнал дайджестов; чтобы это работало, в файл machine.config необходимо добавить следующие строки:--><!-- 
      <system.serviceModel> <machineSettings enableLoggingKnownPii="true" /> </system.serviceModel>
      --><!--Для просмотра журналов дайджестов выполните в средстве просмотра трассировки поиск по ключевому слову "DigestTrace".--><!-- 
      <source name="System.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
       --><!--Запись в журнал всех сообщений на вкладке "Сообщения" программы SvcTraceViewer.--><!-- 
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
       --><!--ActivityTracing и propogateActivity используются для конкретизации сведений на вкладке "Действия" программы SvcTraceViewer с целью облегчения отладки.--><!-- 
      <source name="System.ServiceModel" switchValue="Error, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
       --><!--Запись данных трассировки, созданных Microsoft.IdentityModel, в том числе исключений самой платформы.--><!-- 
      <source name="Microsoft.IdentityModel" switchValue="Warning">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener"        initializeData= "LogFile\\LogTrace.txt" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->
  
</configuration>









<!--<configuration>
  <system.serviceModel>
    <diagnostics>
      <messageLogging maxMessagesToLog="30000" logEntireMessage="true" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"> </messageLogging>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      --><!-- В этом разделе включается запись в журнал дайджестов; чтобы это работало, в файл machine.config необходимо добавить следующие строки: <system.serviceModel> <machineSettings enableLoggingKnownPii="true" /> </system.serviceModel> Для просмотра журналов дайджестов выполните в средстве просмотра трассировки поиск по ключевому слову "DigestTrace". --><!--
      <source name="System.IdentityModel" switchValue="Verbose" logKnownPii="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      --><!-- Запись в журнал всех сообщений на вкладке "Сообщения" программы SvcTraceViewer. --><!--
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      --><!-- ActivityTracing и propogateActivity используются для конкретизации сведений на вкладке "Действия" программы SvcTraceViewer с целью облегчения отладки. --><!--
      <source name="System.ServiceModel" switchValue="Error, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      --><!-- Запись данных трассировки, созданных Microsoft.IdentityModel, в том числе исключений самой платформы. --><!--
      <source name="Microsoft.IdentityModel" switchValue="Warning">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="trace.e2e" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>-->